    .wrapper {
        /* display: grid; */
        /* grid-gap: 10px; */
        /* grid-template-rows: minmax(100px, 2fr) 1fr; */
        /* grid-template-columns: 1fr; */
        width: 100%;
        margin: auto;
        height: 2000px;
    }
    
    .carousel {
        /* width: 50%; */
        height: 300px;
        /* grid-row: auto; */
        /* display: box; */
        overflow: hidden
    }
    
    .tournament {
        grid-column: 2 / 4;
        grid-row: auto;
    }